@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100%;
    position: relative;
    padding-bottom: 60px; */
}
.title{
    font-size: 50px;
    margin-bottom: 2rem;
}
.sub_title{
    color: gray;
    margin-bottom: 5rem;
}
.tab_nav li {
    float: left;
    width: 260px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    text-align: center;
    line-height: 48px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.current{
    color: #A0C2AC;
}
.inner{
    position: relative;
}
.box{    
    display: table;
    width: 60%;
    height: 100%;
    margin-bottom: 40px;
    /* Guest 공간(넓이)주는거 아래 패딩 */
    padding: 20px 20px 20px 30px;
    box-sizing: border-box;
    border: 2px solid #555;
    position: relative;
}
.sub_title_inner{
    padding-bottom: 1rem;
   font-size:20px;
    /* margin: 30px; */
    /* text-align: center; */
    width:100%;
    color:#444;    
}
.sub_title_inner::first-letter{
    font-size:40px;
    color:#A0C2AC
}
.price{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    border-left: 1px dashed #dcdcdc;
}
.test{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.test>:first-child{
    font-size: 30px;
    color: #A0C2AC;
    font-weight: 700;
}
.test>:last-child{
    font-size: 20px;    
}
.content>.box:nth-child(5) .price>.test>:nth-child(2){
    font-size: 16px;
    text-decoration:line-through 
}
.content>.box:nth-child(6) .price>.test>:nth-child(2){
    font-size: 16px;
    text-decoration:line-through 
}
.content>.box:nth-child(7) .price>.test>:nth-child(2){
    font-size: 16px;
    text-decoration:line-through 
}

.price {
    position: relative; 
}

.box {
    position: relative; /* 부모 요소에 대한 상대적인 위치 설정 */
}
.box .btn_p1 p {
    color: white;
}
.box .btn_p2 p {
    color: white;
}
.box .btn_p3 p {
    color: white;
}
.box .btn_p4 p {
    color: white;
}

.box .btn_p1 {
    width: 20%;
    text-align: center;
    height: 45px;
    font-size: 15px;
    background-color: #a9ccb5;
    border: 3px solid #ffffff;
    border-radius: 3rem;
    position: absolute; 
    top: -10px; 
    right: -10px; /* right 값에 단위(px 등) 추가 */
    z-index: 90;
    cursor: pointer;
}
.box .btn_p2 {
    width: 20%;
    text-align: center;
    height: 45px;
    font-size: 15px;
    background-color: #a9ccb5;
    border: 3px solid #ffffff;
    border-radius: 3rem;
    position: absolute; 
    top: -10px; 
    right: -10px; /* right 값에 단위(px 등) 추가 */
    z-index: 90;
    cursor: pointer;
}
.box .btn_p3 {
    width: 20%;
    text-align: center;
    height: 45px;
    font-size: 15px;
    background-color: #a9ccb5;
    border: 3px solid #ffffff;
    border-radius: 3rem;
    position: absolute; 
    top: -10px; 
    right: -10px; /* right 값에 단위(px 등) 추가 */
    z-index: 90;
    cursor: pointer;
}
.box .btn_p4 {
    width: 20%;
    text-align: center;
    height: 45px;
    font-size: 15px;
    background-color: #a9ccb5;
    border: 3px solid #ffffff;
    border-radius: 3rem;
    position: absolute; 
    top: -10px; 
    right: -10px; /* right 값에 단위(px 등) 추가 */
    z-index: 90;
    cursor: pointer;
}